<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Ninja Gold</title>
    <style>
        .red{
            color: red;
        }
        .green{
            color: green;
        }
        .activities {
            height: 250px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class=" mt-5 text-center">
            <h1>Welcome to Ninja Gold Game</h1>
            <div class="gold d-flex my-4">
                <p class="mr-2">Your Gold:</p>
                <p class="border px-4">{{gold}}</p>
            </div>
            <div class="boxes d-flex justify-content-between my-4">
                <div class="box border p-4">
                    <h4>Farm</h4>
                    <p>(earn 10-20 golds)</p>
                    <form action="/process_money" method='post' class="form-group">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="farm">
                        <button type="submit" class="btn btn-outline-primary">Find Gold</button>
                    </form>
                </div>
                <div class="box border p-4">
                    <h4>Cave</h4>
                    <p>(earn 5-10 golds)</p>
                    <form action="/process_money" method='post' class="form-group">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="cave">
                        <button type="submit" class="btn btn-outline-primary">Find Gold</button>
                    </form>
                </div>
                <div class="box border p-4">
                    <h4>House</h4>
                    <p>(earn 2-5 golds)</p>
                    <form action="/process_money" method='post' class="form-group">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="house">
                        <button type="submit" class="btn btn-outline-primary">Find Gold</button>
                    </form>
                </div>
                <div class="box border p-4">
                    <h4>Casino</h4>
                    <p>(earn/takes 0-50 golds)</p>
                    <form action="/process_money" method='post' class="form-group">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="casino">
                        <button type="submit" class="btn btn-outline-primary">Find Gold</button>
                    </form>
                </div>
            </div>
            <div class="activities-container">
                <p class="text-left">Activites</p>
                {% if activities %}
                    <div class="activities border p-4">
                        {% for activity in activities %}
                            <p class="text-left {{activity.color}}">{{activity.text}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div  class="d-flex mt-4">
                <form action="/reset" method='post' class="form-group">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark">Reset</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>