<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>The Great Number Game</title>
    <style>
        .result{
            height: 200px;
            color: white;
            font-size: xx-large;
            margin: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .red{
            background-color: red;
        }
        .green{
            background-color: green;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class=" mt-5 text-center">
            <h1>Welcome to the Great Number Game</h1>
            <p>
                I am thinking of a number bbetween 1 and 100
            </p>
            <p>Take a guess!</p>
            {% if color %}
                <div class="result {{color}}">
                    <p>
                        {{text}}
                    </p>
                </div>
            {% endif %}
            
            {% if not result %}
                <form action="/prosses" method='post' class="form-group">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="number" min="1" max="100" class="form-control" name="guess" autofocus required>
                    </div>
                    
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            {% else %}
            <form action="/reset" method='post' class="form-group">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark">Play Again</button>
            </form>
            {% endif %}

        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>