<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Books reviews</title>
    <style>
        .books{
            height: 50vh;
            overflow-y: scroll;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'books:root'%}">CodingDojo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'books:root'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'books:new'%}">Add Book and Review</a>
                </li>
            </ul>
            <a href="{% url 'login:logout'%}">
                <button class="btn btn-secondary my-2 my-sm-0">Logout</button>
            </a>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <h2>{{book.title}}</h2>

                <h4>Reviews:</h4>
                {% for review in book.reviews.all %}
                <hr>
                    <div class="mb-2">
                        <p>Rating: 
                            {% with ''|center:review.rating as range %}
                                {% for _ in range %}
                                    ⭐️
                                {% endfor %}
                            {% endwith %}
                        <p><a href="{% url 'books:user_reviews' user_id=review.written_by.id %}">{{review.written_by.alias}}</a> says: <em>{{review.content}}</em></p>
                        <p><em>Posted on {{review.created_at|date:'F j, Y'}}</em></p>
                        {% if review.written_by.id == user_id %}
                            <form class="text-right" method="post" action="{% url 'books:delete_review' review_id=review.id%}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link">Delete this Review</button>
                            </form>
                        {% endif %}
                    </div>
                    
                {% endfor %}

            </div>
            <div class="col-6">
                <h2>Add a Review</h2>
                <form action="{% url 'books:create_review' book_id=book.id %}" method='post' class="form-group">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Review</span>
                        </div>
                        <textarea name="content" class="form-control"  cols="30" rows="5" autofocus></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Rating</span>
                        </div>
                        <select id="choices" name="rating" class="form-control" required>
                            <option value="1">1 star</option>
                            <option value="2">2 stars</option>
                            <option value="3">3 stars</option>
                            <option value="4">4 stars</option>
                            <option value="5">5 stars</option>
                        </select>
                    </div>
                    {% if messages %}                        
                        {% for message in messages %}
                            {% if "books" in message.tags %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">Submit Review</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>