<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
        }
        .container{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .box{
            height: 200px;
            width: 200px;
            border: 4px solid black;
            margin: 10px;
            background-color: #94bff4;
            background-color: {{color}};
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="container">
        {% for x in range(0,times): %}
            <div class="box">
                
            </div>
        {% endfor %}
    </div>
    
</body>
</html>
