.container{
    display: flex;
    width: 800px;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}
.container>div:nth-child(odd){
    background-color: black;
}
.container>div:nth-child(even){
    background-color: red;
}
.container>.col:nth-child(even)>div:nth-child(even){
    background-color: black;
}
.container>.col:nth-child(odd)>div:nth-child(even){
    background-color: red;
}
.box{
    height: 100px;
    width: 100px;
}