@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap");
body {
  background-color: #2e5073;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.warpper {
  width: 980px;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 400px;
  margin: 0 20px;
}

.search {
  margin: 0 20px;
  color: white;
  font-size: smaller;
  text-align: center;
}

.search a {
  color: #f9d454;
  text-decoration: underline;
}

.search_input {
  background-color: #444444;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, 0.75);
}

.search_input button {
  background: #2e5073;
  color: white;
  padding: 2px 5px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: x-large;
  background: linear-gradient(
    0deg,
    rgba(68, 117, 169, 1) 0%,
    rgba(84, 126, 169, 1) 50%,
    rgba(68, 117, 169, 1) 100%
  );
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, 0.75);
  margin: 20px 40px;
}

.intro {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  margin: 20px 40px;
}

.intro ul {
  white-space: nowrap;
  line-height: 1.8rem;
  /* text-decoration: underline; */
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
}


.intro li { 
  padding-left: 16px; 
  text-decoration: underline;
}

.intro li::before {
  text-decoration: none !important ;
  content: "»"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: #f9d454; /* Or a color you prefer */
}

.content {
  padding: 0 20px;
}

.content pre {
  color: #f9d454;
  font-style: italic;
  line-height: 1.8rem;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
}
main {
  background-color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

section {
  border-top: 5px solid #7ea7d1;
  margin: 10px;
  padding: 0 20px;
  width: 40vw;
}
section ul,
.highlight {
  color: #7ea7d1;
  list-style: none;
  padding: 0;
  margin: 0;
}

section li {
  padding-left: 16px;
}

section li:before {
  content: "■";
  padding-right: 8px;
  color: black;
}

footer {
  color: #8db6de;
  text-align: center;
  min-height: 50px;
  background: linear-gradient(180deg, #2e5073 0%, #4374a8 100%);
  padding-bottom: 10px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  margin-top: 40px;
  font-size: smaller;
}

footer p {
  font-size: x-small;
  margin: 0;
}
